:host {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: minmax(500px, 100vh);
}

.palette {
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 0 15px 0 15px;
    width: 80px;
}

.columns-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.columns {
    width: 1080px;
    height: 100%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

app-column:first-child {
    border-left: 1px dashed blueviolet;
}

.dragger {
    transform: rotate(90deg);
    user-select: none;
}
