
<div class="palette">
  <app-new-note  *ngFor="let noteButton of noteButtons" [noteButtonInformation]="noteButton" ></app-new-note>
  <app-new-column></app-new-column>
  <app-remove-column></app-remove-column>
</div>
<div class="canvas">
  <app-note
    *ngFor="let note of notes;trackBy: trackByFn"
    cdkDrag
    [cdkDragFreeDragPosition]="{x: note.left, y: note.top}"
    [note]="note"
    (deleteNote)="deleteNote($event)"
    (cdkDragEnded)="dragEnd($event)"
    [cdkDragData]="note"
    (updateNote)="updateNote($event)">
  </app-note>
  <div class="columns">
    <div *ngFor="let col of columns">columan</div>
  </div>
</div>

