:host {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: minmax(500px, 100vh);
}

.palette {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}