:host {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: minmax(500px, 100vh);
}

.palette {
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 0 15px 0 15px;
}
