:host {
    border-right: 1px dashed blueviolet;
    text-align: center;
    display: flex;
    justify-content: center;
}

.title-container {
    height: 80px;
    border-bottom: 1px dashed grey;
    display: flex;
    align-items: flex-end;
}

.title {
    display: inline-block;
    
    &.empty-title {
        width: 100px;
        margin-top: 70px;
    }
}

input {
    background-color: unset;
    border: unset;
    font: 400 14px/20px Roboto,"Helvetica Neue",sans-serif;
    width: 100%;
}
