:host {
    border-right: 1px dashed blueviolet;
    text-align: center;
    display: flex;
    justify-content: center;
}

.title-container {
    height: min-content;
    margin-top: 70px;
}

.title {
    // margin-top: 70px;
    display: inline-block;
    border-bottom: 1px dashed grey;

    &.empty-title {
        width: 100px;
    }
}

input {
    background-color: unset;
    border: unset;
    border-bottom: 1px dashed grey;
    width: 100px;
}
