:host {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 150px;
    margin: 0;
    height: 100px;
}

mat-form-field {
    width: 300px;
}

button {
    margin-top: 10px;
    width: 300px;
}
