<h1>Scrumbo</h1>
<h2>A free and easy to use collaborative scrum board</h2>
<mat-form-field>
    <form [formGroup]="boardForm" (ngSubmit)="onSubmit()" id="boardForm">
        <input formControlName="name" matInput type="text" required maxlength="30" placeholder="Enter your board name to begin." autocomplete="off">
    </form>

    <ng-container *ngIf="boardForm.controls.name.errors?.pattern">
        <mat-error>
            Alpha numberic values only
        </mat-error>
    </ng-container>
    
    <ng-container *ngIf="boardForm.controls.name.errors?.boardNameTaken">
        <mat-error>
            This board name has already been taken
        </mat-error>
    </ng-container>
</mat-form-field>

<button type="submit" mat-raised-button color="primary" form="boardForm"  [disabled]="boardForm.invalid">Submit</button>



