<h1>Scrumbo</h1>
<h2>A free and easy to use collaborative scrum board</h2>
<mat-form-field>
    <form [formGroup]="boardForm" (ngSubmit)="onSubmit()" id="boardForm">
        <input formControlName="name" matInput type="text" required maxlength="30" placeholder="Enter your board name to begin." autocomplete="off">
    </form>

    <mat-error *ngIf="boardForm.controls.name.errors?.pattern">
        Alpha numberic values only
    </mat-error>
    
    <mat-error *ngIf="boardForm.controls.name.errors?.boardNameTaken">
        This board name has already been taken
    </mat-error>
</mat-form-field>

<button type="submit" mat-raised-button color="primary" form="boardForm"  [disabled]="boardForm.invalid">Submit</button>



