:host {
    height: 81px;
    width: 82px;
    user-select: none;
    margin: 10px 0 10px 0;
  
}

.note-button-container {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    position: relative;

    .mat-icon {
        position: absolute;
        font-size: 80px;
        top: 0px;
        right: 56px;
    }
}
